# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build folders
obj
bin

# Code::Blocks files
*.depend
*.layout

# Temp files
*.autosave
*~
