# Build Folders
bin
obj

# Resource
*.png
*.jpg
*.gif

# Other Projects
phpMyAdmin
ZWebAlbum_web_v2
/ZWebAlbum_web_v3/developer
/ZWebAlbum_web_v3/sdk
/ZWebAlbum_web_v3/sdk_test

# Smarty Folders
/ZWebAlbum_web_v3/cache
/ZWebAlbum_web_v3/plugins
/ZWebAlbum_web_v3/templates_c

# Netbeans Project
/ZWebAlbum_web_v3/nbproject/private/
