html, body {
    margin: 0 auto;
    font-size: 16px;
}

.menuLineBack {
    width: 100%;
    height: 100px;
    background-color: black;
}

.menuLine {
    width: 100%;
    height: 84px;
    background-color: white;
}

.menuLine a {
    display: inline-block;
    width: 116px;
    height: 64px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px 20px 0 0;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background: rgb(220, 220, 220);
}

.menuLine a.selected {
    background-color: black;
}

.menuLine a img {
    width: 64px;
    height: 64px;
}

.searchDiv {
    width: 100%;
    font-size: 20px;
    overflow: hidden;
}

.searchDiv a {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    background: rgb(200, 200, 200);
    margin: 10px;
    border-radius: 0 10px 0 10px;
}

.searchDiv input[name=upload] {
    display: none;
}

#Div_Upload_Click {
    width: 425px;
    height: 263px;
    line-height: 263px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    background: rgb(200, 200, 200);
    font-size: 30px;
}

.settingDiv {
    width: 100%;
    overflow: hidden;
    display: none;
}

.resultDiv {
    width: 100%;
    overflow: hidden;
    display: none;
}

.historyDiv {
    width: 100%;
    overflow: hidden;
    display: none;
}