@CHARSET "UTF-8";

#formDiv
{
    width: 600px;
    margin: 0 auto;
}

.formLine
{
    width: 100%;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
}

.formLeft
{
    display: inline-block;
    width: 95px;
    height: 100%;
    text-align: right;
}

.formMid
{
    display: inline-block;
    width: 295px;
    height: 100%;
    text-align: left;
}

.formRight
{
    display: inline-block;
    width: 195px;
    height: 100%;
    text-align: left;
}