@CHARSET "UTF-8";

body {
    font-family: Arial, sans-serif;
    height: 100%;
}

#container {
    width: 1024px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    overflow: hidden;
}

#sideBar {
    float: left;
    width: 159px;
    border-right: 1px solid rgb(217, 220, 226);
    border-color: rgb(206, 225, 238);
}

    #sideBar h3 {
        font-size: 13px;
        font-weight: bold;
        color: rgb(140, 140, 140);
    }

    #sideBar article {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #sideBar a {
        font-size: 14px;
        display: block;
        width: 159px;
        height: 30px;
        margin: 0 auto;
        line-height: 30px;
        vertical-align: baseline;
    }

    #sideBar a:link,
    #sideBar a:visited {
        color: black;
        text-decoration: none;
        outline: none;
    }

    #sideBar a:hover {
        text-decoration: none;
        outline: none;
        background-color: rgb(237, 245, 252);
    }

    #sideBar a.selected:link,
    #sideBar a.selected:visited,
    #sideBar a.selected:hover {
        color: white;
        text-decoration: none;
        outline: none;
        font-weight: bold;
        background-color: rgb(57, 126, 206);
    }

    #bodyDiv {
        width: 840px;
        height: 100%;
        float: left;
    }

input[type="text"],
input[type="password"] {
    width: 252px;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(203, 203, 203);
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    border-radius: 3px 3px 3px 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: rgb(86, 189, 243);
    box-shadow: 0px 0px 5px rgba(84, 189, 242, 0.6), 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
    outline: 0px none;
}

input[type="text"]:disabled,
input[type="password"]:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="button"],
input[type="submit"] {
    width: 272px;
    height: 47px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 12px 12px 12px 12px;
    color: rgb(17, 17, 17);
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    font-size: 16px;
    background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(204, 204, 204)) repeat scroll 0% 0% transparent;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    position: relative;
    background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(221, 221, 221)) repeat scroll 0% 0% transparent;
    cursor: pointer;
}

input[type="button"]:disabled,
input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type="checkbox"] {
}

textarea {
    width: 266px;
    height: 100px;
}

select {
    width: 272px;
    height: 48px;
    padding-top: 12px;
    padding-left: 10px;
    font-size: 16px;
}

fieldset {
    margin-top: 1em;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgb(170, 170, 170);
    padding: 1.5em;
    background: none repeat scroll 0% 0% rgb(245, 245, 245);
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    box-shadow: 1px 1px 2px rgb(255, 255, 255) inset;
}

fieldset legend {
    font-size: 20px;
    font-weight: bold;
    color: rgb(68, 68, 68);
    padding: 5px 10px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid rgb(170, 170, 170);
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 15px rgb(187, 187, 187);
}

#formDiv {
    width: 800px;
    margin: 0 auto;
}

.rowHead {
    width: 100%;
    text-align: center;
    font-size: large;
}

.rowInput {
    width: 100%;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.rowDescrption {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;
}

.rowSubmit {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.columnText {
    display: inline-block;
    width: 250px;
    height: 50px;
    text-align: right;
    vertical-align: top;
    line-height: 50px;
}

.columnInput {
    display: inline-block;
    width: 300px;
    height: 50px;
    vertical-align: top;
}

.columnTextArea {
    display: inline-block;
    width: 300px;
    height: 106px;
    vertical-align: top;
}

.columnSelect {
    display: inline-block;
    width: 300px;
    min-height: 50px;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}

.columnStatus {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 14px;
}

.columnDescription {
    display: inline-block;
    position: relative;
    left: 250px;
    width: 300px;
    padding-top: 1px;
    padding-left: 5px;
    font-size: 12px;
    vertical-align: top;
    color: darkgray;
}


.normalMessage {
    color: black;
    line-height: 16px;
}

.correctMessage {
    color: darkgreen;
    line-height: 16px;
}

.errorMessage {
    color: red;
    line-height: 16px;
}

#dialogBox {
    display: none;
    width: 300px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -50px;
    z-index: 1000;
    padding: 30px;
    border: 5px solid rgb(50, 50, 50);
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(240, 240, 240);
}

.dialogText {
    width: 100%;
    height: 70px;
}

.dialogButtonLine {
    width: 100%;
    text-align: right;
}