@CHARSET "UTF-8";

.title {
    font-size: 16px;
    color: rgb(50, 50, 50);
    padding-left: 50px;
}


.title a {
    color: black;
    text-decoration: none;
}

.title a:hover {
    color: white;
    background-color: black;
}

.albumDiv {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.photoDiv {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(187, 187, 187);
    box-shadow: 3px 3px 15px rgb(201, 201, 201);
}

.nameDiv {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 13px;
    color: rgb(40, 40, 40);
    text-align: center;
}

