@CHARSET "UTF-8";

.loginTable
{
    width: 600px;
    margin: 0 auto;
}

.rowInput
{
    height: 40px;
}

.columnText
{
    width: 100px;
    text-align: right;
}

.columnInput
{
    width: 300px;
}

.columnDescription
{
    width: 200px;
}

