# Build Folders
bin
obj

# Swap Files
*~

# Images and Flash
*.bmp
*.jpg
*.jpeg
*.gif
*.png
*.swf
*.ico
*.psd

# Storage Folder
Storage
Resource
drawable-*

# Other Projects
phpmyadmin
ZWebAlbum
ZWebAlbum_Android
ZWebAlbum_Doc
ZWebAlbum_Client
ZWebAlbum_Server

